---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import SocialPill from '../components/SocialPill.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import Experience from '../components/Experience.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import ContactIcon from '../components/icons/ContactIcon.astro';
import Contact from '../components/Contact.astro';
import Whatsapp from '../components/icons/Whatsapp.astro';
---

<Layout
  title="Porfolio de Tino Navarro - Desarrollador y Programador Web con 13 años de experiencia"
  description="Contrata a Tino Navarro para crear tu aplicación web o móvil. Desarrollador Web. Especializado en crear aplicaciones únicas."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="/tino.webp"
        alt="tino photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Tino Navarro <a
          href="https://linkedin.com/in/florentino-navarro"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-balance max-w-[700px]">
        <span>+13 años de experiencia.</span><span class="text-yellow-200">
          Desarrollador Web</span
        >
         .<span class="text-red-200"> De Guadalajara, Jalisco</span>.
        <span class="text-sky-200"
          >Especializado en crear aplicaciones únicas.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://linkedin.com/in/florentino-navarro">
          <LinkedInIcon class="size-4 md:size-6" />
           LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/tinonavarrodiaz">
          <GitHubIcon class="size-4 md:size-6" />
           GitHub
        </SocialPill>
        <SocialPill href="https://api.whatsapp.com/send?phone=5213313048691">
          <Whatsapp class="size-4 md:size-6" />
           33 13 04 86 91
        </SocialPill>
        <SocialPill href="mailto:tino.navarrod@gmail.com">
          <MailIcon class="size-4 md:size-6" />
           tino.navarrod@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia" class="scroll-mt-20">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
         Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos" class="scroll-mt-20">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
         Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="contacto" class="scroll-mt-20">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <ContactIcon class="size-7" />
         Contacto
      </h2>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
